body {
    font-family: 'Playfair Display', serif;
    background-color: rgb(47, 191, 227) ;
}
#footer {
    font-family: 'Playfair Display', serif;
    background-color: rgb(116, 114, 114);
    bottom: 0;
    position: fixed;
    text-align: center;
    width:100% ;
    height: 50px ;
    font-weight: bold;
}
#top {
    font-family: 'Playfair Display', serif;
}
#middle {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}